* {
    margin: 0px;
    padding: 0px;
    font-family: Lato;
}
.color{
    color: #E55473;
}
.title {
    font-weight: bolder;
    text-align: center;
    color: #272727;
    font-size: 34px;
}

.txt {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 24px;
}

.btn-main {
    border-radius: 8px;
    background: #E55473;
    color: white;
    border-color: #E55473;
    border-style: none;
    padding: 20px 43px;
    gap: 10px;
    margin-top: 30px;
}

/* Banner styles */
.banner-container {
    background: #e554731a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-description {
    padding-top: 195px;
    padding-bottom: 145px;
    padding-left: 240px;
    padding-right: 100px;
}

.banner-title {
    color: #272727;
    font-size: 30px;
    font-weight: bolder;
    width: 400px;
}

.banner-img {
    margin-bottom: 0px;
    padding-right: 240px;
    width: 400px;
    height: 700px;
    padding-top: 50px;
    background: no-repeat;
}

/* Feature styles */
.feature-container {
    padding-top: 100px;
}

.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-left: 240px;
    padding-right: 240px;
}

#feature1 {
    background-color: #A7216226;
    border-radius: 300px 300px 0px 0px;
    margin: 10px;
    width: 300px;
    height: 400px;
}

#feature2 {
    background-color: #0597A026;
    border-radius: 300px 300px 0px 0px;
    margin: 10px;
    width: 300px;
    height: 400px;
}

#feature3 {
    background-color: #477D1126;
    border-radius: 300px 300px 0px 0px;
    margin: 10px;
    width: 300px;
    height: 400px;
}

.feature-img {
    width: 200px;
    height: 300px;
    padding: 100px 50px 0px 50px;
}

.feature-cap {
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 10px;
}

/* Service styles */
.service-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 220px;
    text-align: center;
}

#service1 {
    padding-left: 120px;
}

#service2 {
    padding-right: 120px;
}

.service-icon {
    height: 50px;
    width: 50px;
}

.service-txt {
    color: rgba(39, 39, 39, 0.80);
    font-size: 14px;
    font-weight: 600;
    line-height: 35px;
}

/* Deal styles */
.deal-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E554730D;
    padding-left: 250px;
    padding-right: 250px;
}

.deal-description {
    text-align: center;
    padding-top: 230px;
    padding-bottom: 162px;
}

.deal-img {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Instagram section */
.insta-container {
    margin-top: 100px;
    text-align: center;
}

.insta-img-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 240px;
    margin-right: 240px;
}

.insta-img {
    width: 220px;
    height: 240px;
}

/* Subscribe styles */
.subscribe-container{
    background-image: url(/images/rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 100px;
}
.subscribe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 180px;
    padding-right: 180px;
}
.subscribe-txt-field {
    border-radius: 8px;
    border-style: none;
    background: #FFF;
    width: 430px;
    height: 56px;
    padding-left: 25px;
    margin-right: 10px;
}
/* Footer styles */
.footer-container{
    background-color: #e554731a;
    padding: 100px;
}